.navbar {
  margin-top: 20px;
}
.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
}

// .introduce {
//   @media all and (max-width: 768px) {
//     padding: 50px 0;
//   }
// }

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2 em;
  transform-origin: 0 100px;
}
.menu-icon {
  display: none;
}

@media all and (max-width: 1280px) {
  .menu-desktop {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

.model {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
}

@keyframes open {
  from {
    left: -300px;
    right: 400px;
  }
  to {
    left: 0;
    right: 100px;
  }
}
@keyframes close {
  from {
    left: 0;
    right: 100px;
    display: block;
  }
  to {
    left: -300px;
    right: 400px;
    display: block;
  }
}
.menu-open {
  display: none;
  padding-top: 50px;
  position: -webkit-sticky;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 80%;
  padding: 20px 0;
  z-index: 3;
  background: #575757;
  color: white;
  animation-name: open;
  animation-duration: 0.5s;
  border-radius: 0 600px 600px 0;
  @media screen and (max-width: 1280px) {
    display: block;
  }
}

.menu-close {
  display: none;
  padding-top: 50px;
  position: -webkit-sticky;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: -300px;
  width: 150px;
  height: 80%;
  padding: 20px 0;
  z-index: 3;
  background: #575757;
  color: white;
  border-radius: 0 600px 600px 0;
  animation-name: close;
  animation-duration: 0.5s;
}
.menu-close-first {
  display: none;
}

.send-me {
  padding: 20px 40px;
  box-sizing: border-box;
  &__img {
    float: left;
    width: 50%;

    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__form {
    float: left;
    width: 100%;
    &__input {
      margin-bottom: 40px;
      border-radius: 10px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      & input {
        padding: 10px 20px;
        border: none;
        outline: none;
        width: 100%;
      }
      & textarea {
        padding: 10px 20px;
        border: none;
        outline: none;
        width: 100%;
      }
    }
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
